<% provide(:title, 'About Mandarin Banana') %>
<div class="center">
<h2>About Mandarin Banana</h2>
<p>
  This website is the one I use to learn Chinese. Can you imagine how amazing it is to develop a website for learning Chinese, catering exactly to your own
  needs? At the same time, I think that the approach I use could be helpful for many people. Together, we can create a collection of awesome mnemonics and
  paintings, to make remembering Chinese characters easier and funnier than ever.
</p>
<h2>My story of learning Chinese and programming learning applications</h2>
<p>
  When starting learning Chinese, I was fascinated by learning about two concepts: Learning understanding and speaking Chinese with sentences, and
  remembering characters with the help of mnemonics. First, I learned speaking Chinese with the help of sentences split from movies. A popular software
  application for doing so is subs2srs. Of course, I used Anki to review the sentences. At first, I would have the video be played back to me and the
  Chinese characters shown, and then I would test myself to repeat what I have heard. Later, I would only have the sentence shown and try to read it aloud
  (well, in my mind). Later, I created a website like Mandarin Banana, but on my own computer using bash scripts, so nothing that
  could be used on the internet.
</p>
<p>
  After a while I realized that a mnemonic is only effective when it can be cast into a picture. So why not draw the
  picture? It makes reviewing mnemonics so much quicker. How long do you need do look at the Mona Lisa to know what she looks like, and how long would it
  take you to read a text about what Mona Lisa looks like?
</p>
<p>
  When I found Serge Gorodish' approach of incorporating the pronunciation of Chinese characters into mnemonics, I was
  thrilled. Finally, there was a way to combine learning Chinese characters and their pronunciations! But it would be a Herculean task to invent all the
  mnemonics and paint all the pictures. A community effort is needed. That's why I teach myself programming Ruby and how to use its framework Rails,
  mostly by Michael Hartl's tutorial and browsing stackexchange when I'm stuck.
</p>
<p> 
  So two years after my first Chinese scripting attempts, here we are: Mandarin Banana has been released, waiting to create a collection of memorable Hanzi
  mnemonics.
</p>
<h2>Some personal background</h2>
<div style="float:right;margin:0px 0px 20px 20px;">
  <%= image_tag "me.jpg" %>
</div>
<p>
  Hi! My name is Matthias Benjamin Schönborn, and I'm a physicist researching Photosystem II at the Free University of Berlin. In my free time, I use this
  website to learn Chinese and sometimes I even program some new features for Mandarin Banana (I have a looong wish list).
</p>
<p>
  Back in the days, when I was about to plan my master's thesis, I thought about doing the research abroad. After all, it was a good opportunity to see the
  world! So I asked around for research collaborations, and one professor offered me to go to China. I thought to myself: "I know nothing about China. At
  the same time, it seems to be such an important country. I should go and have a look!" So I stayed for almost one year in Hangzhou researching numerical
  simulations of thermal lensing in laser crystals, and I was able to spend two months travelling in China during that time.
</p>
<p>
  Long story short: It was one of the most interesting times of my life, I learned Chinese, and I met my spouse. How awesome is that?
</p>
<p>
  Also, I ended up developing Mandarin Banana. It's really fun, but my time is really limited. I can only spend a few hours each week for programming. I
  would really like to make a full time job out of developing for Mandarin Banana after finishing my PhD (hopefully in mid 2016), but for that I need to
  find a way to earn money from working on this website. Still, I remind myself frequently that the first priority is the usefulness of the website for learning
  Chinese, money is secondary. I hope you enjoy using the website as much as I do!
</p>
<h2>Acknowledgement</h2>
<p>
  Here are some people without whom this website wouldn't exist. I'd like to thank (in alphabetical order)</p>
  <ul class="about left">
    <li>An anonymous person for creating <a href="http://www.mdbg.net">mdbg.net</a> and its database, from which I use the definitions;</li>
    <li>atitarev from chinese-forums.com for creating <a href="http://www.chinese-forums.com/index.php?/topic/12580-%E3%80%8A%E5%B0%8F%E5%9F%8E%E4%B9%8B%E6%98%A5%E3%80%8Bspring-in-a-small-town/">subtitles</a> for "spring in a small town";</li>
    <li>Damien Elmes for creating <a href="http://www.ankisrs.net">Anki</a>;</li>
    <li>Serge Gorodish for the invention of his <a href="http://countryoftheblind.blogspot.de/2012/01/mnemonics-for-pronouncing-chinese.html">romanization system</a>;</li>
    <li>Michael Hartl for creating <a href="http://www.railstutorial.org">railstutorial.org</a>;</li>
    <li>Khatzumoto for his creative articles on <a href="http://www.ajatt.com">ajatt.com</a>;</li>
    <li>Olle Linge for his inspiring articles on <a href="http://www.hackingchinese.com">hackingchinese.com</a>;</li>
    <li>M4RCO, Muke, Yug, Wikic, Micheletb and all other contributors for creating <a href="http://commons.wikimedia.org/wiki/Commons:Stroke_Order_Project">stroke order images</a>;</li>
    <li>Tomasz P. Szynalski and Michal Ryszard for creating <a href="http://antimoon.com">antimoon.com</a>.</li>
  </ul>
<h2>Using stuff from Mandarin Banana</h2>
<p>
  There are so many free resources on the internet that I have profited from, and I feel grateful for that. It would be the least to offer the same in
  return. Therefore, I promise that the data on Mandarin Banana will be always publicly accessible. You are free to use any data (e.g. texts, images,
  videos) for any purpose, provided that you acknowledge the respective author and Mandarin Banana, as well as to provide a link to mandarinbanana.com.
</p>
<h2>Terms of use</h2>
<p>
  Mandarin Banana will not be responsible for any damage done to you or your equipment. Use at your own risk. When submitting data to Mandarin Banana, you
  agree to licensing it <a href="http://creativecommons.org/licenses/by/4.0/">CC-BY</a>, enabling anyone to use it for any purpose, provided that you are acknowledged as the author.
</p>
</div>

