<div class="center hero-unit">
  <div id="hero">
    <h1>Mandarin Banana</h1>

    <h2>
      Remembering Chinese characters by drawing like a four-year-old.
    </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

  </div>

</div>

