<% if signed_in? %>
  <% Pinyindefinition.joins(:mnemonics).uniq.each do |pd| %>
    <% puts pd.hanzi.character %>
    <% @id = pd.id %>
    <% @p1 = pd.pinyin %>
    <% @p2 = "= " + pd.gbeginning + " + " + pd.gending %>
    <% @hanzi = pd.hanzi %>
    <% if @hanzi.components != '' %>
      <% @dec = @hanzi.character + "=" + @hanzi.components.split(//).join('+').to_s %>
    <% else %>
      <% @dec = " " %>
    <% end %>
    <% @def = pd.definition %>
    <% @appearances = "<div>" %>
    <% Hanzi.where('components LIKE ?', "%#{@hanzi.character}%").each do |h| %>
      <% unless h == nil %>
        <% @appearances += h.character %>
      <% end %>
    <% end %>
    <% @appearances += "</div>" %>
    <% @mnemonics = "<div>" %>
    <% pd.mnemonics.each do |mnemonic| %>
      <% @mnemonics += "<div class\"mnemonic-container\"><div class=\"mnemonic\">#{mnemonic.aide}</div>" %>
      <% mnemonic.images.each do |image| %>
        <% unless image == nil %>
          <% @mnemonics += "<div class=\"paintingdiv\">" %>
          <% @mnemonics += "#{pd.hanzi.character}<br/>" %>
          <% @mnemonics += "<img class=\"painting\" src=\"#{image.id}.png\">" %>
          <% @mnemonics += "</div>" %>
        <% end %>
      <% end %>
      <% @mnemonics += "</div>" %>
    <% end %>
    <% pd.gorodishes.each do |gd| %>
      <% unless gd == nil %>
        <% gd.mnemonics.each do |mn| %>
          <% mn.images.each do |image| %>
            <% unless image == nil %>
              <% @mnemonics += "<div class=\"paintingdiv\">" %>
              <% @mnemonics += "#{gd.element}<br/>" %>
              <% @mnemonics += "<img class=\"painting\" src=\"#{image.id}.png\">" %>
              <% @mnemonics += "</div>" %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <% unless @hanzi.components == '' %>
      <% @hanzi.components.split(//).each do |comp| %>
        <% comphanzi = Hanzi.find_by(character: comp) %>
        <% unless comphanzi == nil %>
	  <% comphanzi.images.each do |image| %>
	    <% unless image == nil %>
              <% @mnemonics += "<div class=\"paintingdiv\">" %>
              <% @mnemonics += "#{comphanzi.character}<br/>" %>
  	      <% @mnemonics += "<img class=\"painting\" src=\"#{image.id}.png\">" %>
              <% @mnemonics += "</div>" %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <% @mnemonics += "</div>" %>
<%= CSV.generate_line([@id, pd.hanzi.character, @p1, @p2, @dec, @def, @appearances, @mnemonics], col_sep: "\t", quote_char: "\0", row_sep: "\n", encoding: "UTF-8").html_safe %>
  <% end %>
<% end %>
