<% if signed_in? %>
  <% Pinyindefinition.joins(:mnemonics).uniq.each do |pd| %>
    <% @id = pd.id %>
    <% @p1 = pd.pinyin %>
    <% @p2 = "= " + pd.gbeginning + " + " + pd.gending %>
    <% @hanzi = pd.hanzi %>
    <% if @hanzi.components != '' %>
      <% @dec = @hanzi.character + "=" + @hanzi.components.split(//).join('+').to_s %>
    <% else %>
      <% @dec = " " %>
    <% end %>
    <% @def = pd.definition %>
    <% @appearances = "<div>" %>
    <% Hanzi.where('components LIKE ?', "%#{@hanzi.character}%").each do |h| %>
      <% unless h == nil %>
        <% @appearances += h.character %>
      <% end %>
    <% end %>
    <% @appearances += "</div>" %>
    <% @mnemonics = "<div>" %>
    <% pd.mnemonics.each do |mnemonic| %>
      <% @mnemonics += "<div class\"mnemonic-container\"><div class=\"mnemonic\">#{mnemonic.aide}</div>" %>
      <% mnemonic.images.each do |image| %>
        <% unless image == nil %>
          <% @mnemonics += "<img src=\"#{image.id}.png\">" %>
        <% end %>
      <% end %>
      <% @mnemonics += "</div>" %>
    <% end %>
    <% @mnemonics += "</div>" %>
    <% @subtitles = "<div>" %>
    <% @hanzi.subtitles.limit(7).each do |subtitle| %>
      <% unless subtitle == nil %>
        <% @subtitles += "<div class=\"video\"><video src=\"#{subtitle.filename}.webm\" controls></video><div>#{subtitle.sentence}</div><a class=\"subtitle_link\" href=\"http://mandarinbanana.herokuapp.com/subtitles/#{subtitle.id}\">more</a></div>" %>
      <% end %>
    <% end %>
    <% @subtitles += "</div>" %>
<%= CSV.generate_line([@id, pd.hanzi.character, @p1, @p2, @dec, @def, @appearances, @mnemonics, @subtitles], col_sep: "\t", quote_char: "\0", row_sep: ?\t, encoding: "UTF-8").html_safe %>
  <% end %>
<% end %>
