<li>
  <span class="timestamp">
    <%= User.find_by(id: comment.user_id).name %> wrote <%= time_ago_in_words(comment.created_at) %> ago:
  </span><span class="content"><%= comment.content %></span>
  <% if signed_in? %>
    <% if current_user?(User.find_by(id: comment.user_id)) || current_user.admin? %>
    | <%= link_to "delete", comment, method: :delete, data: { confirm: "Are you sure?" }  %>
    <% end %>
  <% end %>
</li>
