<% provide(:title, 'Add new stroke order') %>
<h1>Stroke order for <%= @hanzi.character %></h1>

<div>
  <canvas id="stroke_order_canvas" height="400" width="400" class="center"></canvas>
</div>

<%= render partial: 'strokeorders/canvas', locals: {strokeorder_data: @strokes, canvas_id: "stroke_order_canvas", width: 400 } %>

<!-- <%= @strokes.to_s %> -->
