<% unless @hanzi.HSK == nil %>
  <% if @hanzi.HSK < 7 %>
    <h2>HSK level: <%= @hanzi.HSK %></h2>
  <% else %>
    <h2><span class="hanzi"><%= @hanzi.character %></span> is not part of the HSK.</h2>
  <% end %>
<% end %>
