<% if !@gorodishes[0].nil? %>
  <h2>Pronunciation: Gorodish elements and their mnemonics</h2>
  <div class="center">
    <%= link_to "What's this?", "/gorodishes/" %>
    <br/><br/>
  </div>
  <div class="center">
    <% @gorodishes.each do |g| %>
      <%= link_to g.element, g %>
      <div>
        <% g.mnemonics.each do |m| %>
          <%= render m %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

