@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

.shrink {
  display: inline-block;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
  margin: auto;
}

.left {
  text-align: left;
}

.shelf {
  margin: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 4em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: lighter;
}

h2 {
  font-size: 1.6em;
  letter-spacing: -1px;
  margin-top: 30px;
  text-align: center;
  font-weight: normal;
  font-style: italic;
  color: #666;
}

p {
  font-size: 1.1em;
  max-width: 600px;
  text-align: left; 
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  text-align: center;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.search {
  border-top: 1px solid $grayMediumLight;
  margin-top: 45px;
  margin-bottom: 20px;
  color: black;
  padding: 10px 0px;
}  

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.hero-unit {
   background: url(image-path('bg_tile.png'));
}

#hero {
      background: rgba(255,255,255,0.9);
      padding: 50px 0px;
      h2 {
            color: #444444;
      }
}

#logo {
      font-weight: normal;
      text-transform: none;
      letter-spacing: normal;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* comments */

.comments {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.content {
  display: inline;
}

.timestamp {
  color: $grayLight;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* hanzis */

.big-char {
  font-size: 200%;
  line-height: normal;
}

.single-char {
  font-size: 200%;
  padding: 20px;
  float: left;
}

.composition-container {
  border:1px solid black;
  margin: auto;
  overflow: auto;
}

.recursive-container {
  margin: auto;
}

.hanzi_search_field {
  width: 30px;
}

/* wallposts */

.wallpost-container {
  border-left: 2px dotted black;
  padding-left: 5px;
  margin-left: 20px;
}

/* unknown characters */

.unknown-char {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

/* mnemonics */

.mnemonic {
  display: inline-block;
  padding: 7px;
  margin: 3px;
  background:cornsilk;
  vertical-align: top;
  .signature {
    display: inline;
  }
}

/* reviews */

#meter {
  height: 3px;
  position: relative;
  background: #DDD;
  padding: 0px;  
  margin: 10px 0px 10px;
  span {
    display: block;
    height: 100%;
    background-color: #08C;
  }
}

.selected {
  background-color: paleturquoise;
}

.option {
  padding: 6px 12px;
  display: inline;
}

.optionradiobutton {
  display: none;
}

.antedate {
  padding: 6px 12px;
  display: inline;
}

/* images */

#kineticcontainer {
  border: 1px solid black;
}

.image {
  display:inline-block;
  margin: 2px;
  padding: 2px;
  vertical-align: top;
  img {
    border:1px solid black;
    background-color: white;
  }   	       
}

/* featured images */

.fimages-ul {	  
  list-style-type: none;
  li {
    display: inline-block;
    margin: 10px;
  }
}

.prevnext {
  font-weight: bold;
  font-size: 500%;
  width: 40px;
  height: 40px;
  display: inline-block;
}

.appearance {
  display: inline-block;
  margin: 5px;
  border: 1px solid black;
  vertical-align: top;
}