// Place all the styles related to the Wallposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


ul.about {
  max-width: 400px;
  margin: auto;
  li {
    padding: 4px;
  }
}

/* wallposts */

.wallpost-container {
  border-left: 2px dotted black;
  padding-left: 12px;
  margin-left: 20px;
}

