<%= form_tag("/fail_action", method: "get") do %>

  <% @counter = 0 %>
  <% @to_fail.each do |review_id| %>
    <% @counter += 1 %>
    <%= render partial: "reviews/check_fail", locals: {review_id: review_id} %>
  <% end %>
   
  <p>
    <%= submit_tag "Continue", class: "btn btn-large btn-primary" %>
  </p>

<% end %>
