<footer class="footer">
  <div class="search">
    <%= form_tag "/search", method: :get do %>
      <%= label_tag :hanzi_search, "Hanzi search" %>
      <%= text_field_tag :character, "", class: "hanzi_search_field" %> <%= submit_tag "Go" %>
    <% end %>
  </div>
  <small>
    MandarinBanana by Matthias Benjamin Schönborn.<br/>
    This page displays ads by Project Wonderful. If you use an ad blocker, please consider adding an exception.
    <br/><br/><br/>
  </small>
</footer>
